.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Yellow Variation */
.coolBeans {
  border: none;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}


.coolBeans::after {
  background-color: white;
  border-radius: 16rem;
  content: '';
  display: block;
  height: 200%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(90%, 7%) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}


.coolBeans:hover::after {
  transform: translate(40%, -10%);
}

.coolBeans:hover {
  border: 1px solid transparent;
  /* color: indigo; */
  /* transform: scale(1.05); */
  will-change: transform;
}

/* Blue Variation */

.blueBeans {
  border: none;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 10;
  background: #091242;
}


.blueBeans::after {
  background-color: #1F2A69;
  border-radius: 16rem;
  content: '';
  display: block;
  height: 200%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(90%, 7%) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}


.blueBeans:hover::after {
  transform: translate(40%, -10%);
}

.blueBeans:hover {
  border: 1px solid transparent;
  /* color: indigo; */
  /* transform: scale(1.05); */
  will-change: transform;
}


/* WhyUs PictureGradient */

.whyusgradient {
  position: relative;
  display: inline-block;

}

.whyusgradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #091242 -11.11%, rgba(9, 18, 66, 0) 90.28%);
  z-index: 1;
}

.whyusgradient img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

/* transport PictureGradient */

.transportgradient {
  position: relative;
  display: inline-block;

}

.transportgradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
  background-blend-mode: multiply;
  z-index: 1;
}

.transportgradient img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 2;
}


.yellowgradient{
  background: linear-gradient(95deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);

}