.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.coolBeans{
  border: none;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}


.coolBeans::after{
background-color: white;
border-radius: 16rem;
content: '';
display: block;
height: 200%;
width: 100%;
position: absolute;
right: 0;
top: 0;
transform: translate(90%, 7%) rotate(10deg);
transform-origin: top left;
transition: .2s transform ease-out;
will-change: transform;
z-index: -1;
}


.coolBeans:hover::after{
  transform: translate(40%, -10%);
}

.coolBeans:hover{
border: 1px solid transparent;
/* color: indigo; */
/* transform: scale(1.05); */
will-change: transform;
}
